<%- include header %>

<div class="row js-panel-row">

        <div class="col-sm-12 col-xs-12">

        <ol class="breadcrumb">
            <li><a href="/" title="扶뒬못">扶뒬못</a></li>
            <li class="active"><%= category.name %></li>
        </ol>
        <div class="panel panel-default">
            <div class="panel-heading"><%= title %> (<%=total%>)</div>
            <div class="panel-body">
                <%- include /contentPanel%>
            </div>
        </div>
    </div>
</div>
<input type="hidden" class="js-current-menu" value="js-category-content"/>
<%- include footer %>

