<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="cache-control" content="public">
<meta http-equiv="expires" content="Fri,1 Jan 2016 00:00:00 GMT">
<meta name="Generator" contect="WebStorm">
<meta name="Author" contect="王亚超">
<meta name="Robots" contect="all">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta content="nodelog,<%=session.site.name%>,<%if(locals.title){%><%=title%><%}%>,王亚超的技术博客,打造最快的搜索体验,nodejs,express,monogodb,全端博客,error,coder,code,博客,日志,技术,个人" name="keywords" />
<meta content="nodelog,<%=session.site.name%>,<%if(locals.title){%><%=title%><%}%>,王亚超的技术博客,打造最快的搜索体验,nodejs,express,monogodb,全端博客,error,coder,code,博客,日志,技术,个人" name="description" />
<!--baidu站长验证-->
<meta name="baidu-site-verification" content="hBcEJxnpRy" />
<!--sogou-->
<meta name="sogou_site_verification" content="Ve5KEBC5yH"/>
<meta property="qc:admins" content="1542100672652272374526367" />
<!--alexa排名验证-->
<meta name="alexaVerifyID" content="UmbHL7uQNFzJnFyC4OkkDx5CA3E"/>
<%if(locals.state){%>
<meta http-equiv="refresh" content="5;url=/">
<%}%>
<title><%if(locals.title){%><%=title%><%}%>-全端博客-打造最快的搜索体验</title>
<!--<link href="/js/external/google-code-prettify/prettify.css" rel="stylesheet">-->
<link href="/css/font-awesome.css" rel="stylesheet">
<link rel='stylesheet' href='/css/bootstrap.css'/>
<link rel='stylesheet' href='/css/docs.min.css'/>
<link rel='stylesheet' href='/css/bootstrap-switch.min.css'/>
<link rel='stylesheet' href='/js/layer/need/layer.css'/>
<link rel='stylesheet' href='/css/style.css?t=20160713'/>
<script>
    function getCookie(name){
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
            return unescape(arr[2]);
        else {
            return null;
        }
    }
    function loadCss(name){
        document.write("<link rel='stylesheet' href='/css/" + name + ".css'/>")
    }
    var theme= getCookie('style-theme');
    if (theme) {
        loadCss(theme);
    } else {
        loadCss("style-black");
    }
    /*switch(theme) {
     case "style-blue":
     case "style-black":
     case "style-green":
     case "style-red":
         loadCss(theme);
     break;
     default :
         loadCss("style-black");
     }*/
</script>
