<ul class="pager">
    <li class="previous"><a href="####" class="js-pre-page" data-url="<%=url%>" data-page="<%= page %>"
                            data-total="<%= totalPage %>">&larr; 上页</a></li>
    <li><%= page %>/<%= totalPage %></li>
    <li class="next"><a href="javascript:;" class="js-next-page" data-url="<%=url%>" data-page="<%= page %>"
                        data-total="<%= totalPage %>">下页 &rarr;</a></li>
</ul>